---
import { Image } from "astro:assets";
const { designer } = Astro.props;
---

<style>
    .wrapper {
        display: grid;
        grid-template-columns: max-content min-content;
        grid-template-rows: max-content;
        justify-content: center;
        padding: var(--sp-s);
        transition: background-color 0.3s;
    }

    .image {
        opacity: 75%;
        aspect-ratio: 1;
        object-fit: cover;
    }

    .name {
        margin-top: var(--sp-s);
        font-size: var(--fs-1);
        font-weight: 400;
    }

    .wrapper:hover > a > .image {
        opacity: 100%;
    }

    .wrapper:hover > a > .name {
        font-weight: 500;
    }
</style>

<div class="wrapper">
    <a href={`/designer/${designer.lastname.toLowerCase()}`}>
        <Image
            src={`${import.meta.env.STRAPI_URL}${designer.image.url}`}
            alt="Product image"
            width="300"
            height="400"
            widths={[250, 350, 500, 750]}
            format="avif"
            sizes="(min-width: 2960px) calc(12.5vw - 118px), (min-width: 2600px) calc(5vw + 121px), (min-width: 2240px) calc(5.29vw + 131px), (min-width: 1900px) calc(5vw + 157px), (min-width: 1540px) calc(4.71vw + 180px), (min-width: 1160px) calc(3.33vw + 217px), (min-width: 1120px) calc(325vw - 3455px), (min-width: 760px) calc(3.53vw + 229px), (min-width: 540px) calc(42vw - 43px), calc(8.18vw + 225px)"
            class="image"
        />
        <p class="name">
            {`${designer.surname} ${designer.lastname}`}
        </p>
    </a>
</div>
